/* Definições CSS globais */

body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: solid #f5f5f7;
}

button {
    border: none;
    background: none;
}

:root {
    --navbarFontColor: #7f7f81;
    --menuNavbarColor: #ff7d18;
}

/* A partir de desse ponto estilos apenas para desktop*/
@media screen and (min-width: 400px) {

    header {
        height: 70px;
    }

    .logo-img {
        display: inline-block;
        margin: 1% 0px 0px;
    }

    .btn-menu {
        display: none;
    }

    .btn-close-menu {
        display: none;
    }

    .burguer {
        display: inline-block;
    }

    .burguer ul {
        display: flex;
        margin-left: 50px;
        margin-top: 0px;
    }
    
    .burguer ul li {
        list-style-type: none;
        margin: 0px 7px;
        padding-bottom: 18px;
        color: var(--navbarFontColor);
    }

    .burguer ul li:hover {
        border-bottom: solid var(--menuNavbarColor);
        cursor: pointer;
    }

    .user-navbar {
        float: right; 
        justify-content: center;
        align-items: center;
    }

    .cart-img {
        margin: 0px 30px;
        margin-bottom: 10px;
    }

    .cart-img:hover {
        cursor: pointer;
    }

    .avatar-img {
        height: 40px;
        width: 40px;
    }

    .avatar-img:hover {
        border: solid var(--menuNavbarColor);
        border-radius: 20px;
        box-sizing: border-box;
        cursor: pointer;
    }
    
}