/* Definições CSS globais */

:root {
    --btnCartColor: #ff7d1b;
    --menuNavbarColor: #ff7d18;
    --navbarFontColor: #7f7f81;
    --oldPriceColor: #bdbec8;    
    --lineSplitColor: #ebebeb;
    --discountBgColor: #ffefe0;
    --amountBgColor: #ebecf1;
}


/* tag's HTML */
body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: solid var(--lineSplitColor) 2px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

button {
    border: none;
    background: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 5% 0px;
}


/* Classes */
.product-details p {
    font-size: 15px;
    line-height: 150%;
    color: var(--navbarFontColor);
    
}

.product-details p strong {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--menuNavbarColor);    
}

.price-details {
    margin: 5% 0;
    justify-content: center;
}

.price-whit-descount {
    font-size: 30px;
    font-weight: bold;
}

.discount {
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
    border-radius: 6px;
    margin: 0px 10px;
    color: var(--menuNavbarColor);
    background-color: var(--discountBgColor);    
}

.old-price {
    float: right;
    text-decoration: line-through;
    color: var(--oldPriceColor);
}

.product-amount {
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 5% 0px;
    padding: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--amountBgColor);
}

.btn-minus {
    float: left;
    cursor: pointer;
}

.btn-plus {
    float: right;
    cursor: pointer;
}

.product-amount label {
    font-weight: bold;
    justify-content: center;
    vertical-align: middle;
    margin: 5px;
}

.btn-cart {
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #ffffff;    
    background-color: var(--btnCartColor);
    cursor: pointer;
}

.btn-cart img {
    height: 16px;
    width: 16px;
    margin: 0px 2%;
    color: #fff;
}

.attribution {
    margin: 20px 0px;
}


/* A partir de desse ponto estilos apenas para desktop*/
@media screen and (min-width: 400px) {

    header {
        height: 70px;
    }

    main {
        display: flex;
        width: 80%;
        justify-content: center;
        padding: 5% 0;
        margin: 0px auto;
        box-sizing: border-box;
    }

    .logo-img {
        display: inline-block;
        margin: 1% 0px 0px;
    }

    .btn-menu {
        display: none;
    }

    .btn-close-menu {
        display: none;
    }

    .menu {
        display: inline-block;
    }

    .menu ul {
        display: flex;
        margin-left: 50px;
        margin-top: 0px;
    }
    
    .menu ul li {
        list-style-type: none;
        margin: 0px 7px;
        padding-bottom: 18px;
        color: var(--navbarFontColor);
    }

    .menu ul li:hover {
        border-bottom: solid var(--menuNavbarColor);
        cursor: pointer;
    }

    .user-navbar {
        float: right; 
        justify-content: center;
        align-items: center;
    }

    .cart-img {
        margin: 0px 30px;
        margin-bottom: 10px;
    }

    .cart-img:hover {
        cursor: pointer;
    }

    .avatar-img {
        height: 40px;
        width: 40px;
    }

    .avatar-img:hover {
        border: solid var(--menuNavbarColor);
        border-radius: 20px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .img-product {
        flex-basis: 50%;
        width: 50vw;
    }

    .principal-image {
        background-image: url(../images/image-product-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 410px;
        width: 410px;
        border-radius: 15px;
        margin: 0px auto;
    }

    .background-carousel {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 850px;
        width: 100%;
        background-color: #00000098;
    }

    .principal-image-slide-carousel {
        position: absolute;
        background-image: url(../images/image-product-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 10%;
        left: 35%;
        justify-content: center;
        align-items: center;
        height: 450px;
        width: 450px;
        border-radius: 15px;
    }
    
    .btn-img-previous {
        float: left;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin: 30vh 0;
        background-color: #fff;
        
    }

    .btn-img-previous img {
        margin-top: 5px;
        margin-right: 5px;
    }

    .btn-img-next {
        float: right;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin: 30vh 0;
        background-color: #fff;
    }

    .btn-img-next img {
        margin-top: 5px;
        margin-left: 5px;
    }

    .image-thumbnail {
        display: flex;
        width: 410px;
        margin: 0px auto;
    }

    .image-thumbnail div {        
        height: 80px;
        width: 80px;
        border-radius: 15px;
        margin: 3% auto;
        box-sizing: border-box;
    }

    .image-thumbnail button {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
    }  

    .image-thumbnail button:hover {
        opacity: 0.5;
    }
    
    .tumbnail-item1 {
        background: url(../images/image-product-1-thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .tumbnail-item2 {
        background: url(../images/image-product-2-thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .tumbnail-item3 {
        background: url(../images/image-product-3-thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .tumbnail-item4 {
        background: url(../images/image-product-4-thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 

    .image-thumbnail-pop-up {
        display: flex;
        width: 410px;
        margin: 450px auto;
    }

    .image-thumbnail-pop-up div {
        height: 80px;
        width: 80px;
        border-radius: 15px;
        margin: 3% auto;
        box-sizing: border-box;
    }

    .image-thumbnail-pop-up button {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
    }  

    .image-thumbnail-pop-up button:hover {
        opacity: 0.5;
    }

    .product-details {
        flex-basis: 50%;
        padding: 0;
        width: 50vw;
    }
    
    .information-product {
        padding: 5%;
    }

    .information-product h1 {
        padding-right: 5rem;
    }

    .information-product p strong {
        font-size: 13px;
    }

    .price-details {
        flex-basis: 0;
        padding: 5%;
        height: 250px;
        margin: 0;
    }

    .old-price {
        display: block;
        float: none;
        text-decoration: line-through;
        margin: 3% 0;
        color: var(--oldPriceColor);
    }

    .product-amount {
        display: inline-block;
        width: 30%;
        padding: 3%;
        margin-right: 10px;
    }

    .btn-minus:hover {
        opacity: 0.5;
    }
    
    .btn-plus:hover {
        opacity: 0.5;
    }

    .btn-cart {
        width: 65%;
    }

    .btn-cart:hover {
        opacity: 0.5;
    }
    
}